form {
    margin-top: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    display: inline-block;
}

input {
    margin-top : 20px;
    background-color: #b4b4b4;
    color: #ffffff;
    font-family: 'Montserrat SemiBold', sans-serif;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

